body {
  background-color: #e5eaef;
  text-shadow: 0 1px #fff;
}

.site {
  width: 33em;
  font-size: 120%;
  padding: 0 .5em;
}

span.timestamp {
  float: right;
  color: #888;
}

a.title, a:visited.title {
  color: #a00;
  font-size: 18pt;
  text-decoration: none;
}

a:active.title, a:hover.title {
  text-decoration: underline;
}

.post {
  margin: 3em 0;
}

ul.posts>li.post {
  border-bottom: 1px white solid;
  padding-bottom: 1.5em;
}

.post pre {
  box-shadow: 0 0 15px rgba(10,10,10, .05) inset,
              1em 1em 15px rgba(0,0,0, .1);
  padding: 1em;
  border-color: #ccc;
}

h1,h2,h3,h4,h5,h6,a.title {
  font-family: 'Libre Baskerville', serif;
}

form#tags > label > input {
  display: none;
}

.tags>a {
  float: right;
}

.tags>a,
form#tags > label > input + span {
  color: #aaa;
  padding: 0 1em;
  border-radius: 4px;
}

form#tags > label > input + span > span.count {
  opacity: .25;
}

form#tags > label > input + span > span.count:before {
  content: '[';
}
form#tags > label > input + span > span.count:after {
  content: ']';
}

.tags>a,
form#tags > label:hover > input + span {
  box-shadow: 0 0 5px rgba(0,0,0, .05);
  background-color: rgba(255,255,255, .1);
  border: 1px transparent solid;
  margin-left: 1px;
}

.tags>a:hover, .tags>a:active,
form#tags > label > input:checked + span {
  color: #333;
  background-color: #f0f5fa;
  border: 1px #ccc solid;
}

code {
  color: #37254E;
}

.post>p>a, .post>p>a:visited {
  color: #000;
}
.post>p>a:hover, .post>p>a:active {
  color: #a00;
  text-decoration: underline;
}
