
body {
  background-color: #e5eaef;
  text-shadow: 0 1px #fff;
}

.timestamp {
  float: right;
}

a.title, a:visited.title {
  color: #a00;
  font-size: 18pt;
  text-decoration: none;
}

a:active.title, a:hover.title {
  text-decoration: underline;
}

.post {
  margin: 3em 0;
}

.post pre {
  box-shadow: 0 0 15px rgba(10,10,10, .05) inset,
              1em 1em 15px rgba(0,0,0, .1);
  padding: 1em;
  border-color: #ccc;
}
